
/* Product-details section */

.Product-details-Container .image img{
    position: absolute;
    width: 100%;
    height: 305.5px;
    object-fit: cover;
}
.Product-details-Container .product-detail {
    position: absolute;
    width: 828px;
    height: 244px;
    left: 300px;
    top: 415px;
    display: flex;
}

.Product-details-Container .product-detail .product-image img{
    width: 336px;
    height: 185px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.Product-details-Container .product-detail .product-image a{
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}
.Product-details-Container .product-detail .detail{
    margin-left: 90px;
}
.Product-details-Container .product-detail .detail h5{
    width: 303px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.Product-details-Container .product-detail .detail .price span{
    font-weight: 700;
}
.Product-details-Container .product-detail .detail .Description {
    width: 412px;
    height: 76px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    
}
.Product-details-Container .product-detail .detail .Description span{
    font-weight: 700;
}
.Product-details-Container .product-detail .detail .status{
    color: #386B11;
}
.Product-details-Container .product-detail .detail .status span{
    font-weight: 700;
    color: black;
}
.Product-details-Container .product-detail .detail button{
    display: flex;
    align-items: center;
    width: 100px;
    height: 39px;
    background: #3003E7;
    border-radius: 7px;
    border: none;
}
.Product-details-Container .product-detail .detail button span{
    width: 70px;
    height: 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
    color: #FFFFFF;
}
.Product-details-Container .product-detail .detail a{
    text-decoration: none;
}





/* Footer section */

.Product-Footer-Container{
    position: absolute;
    width: 100%;
    height: 365px;
    left: 0px;
    top: 695px;
    background: #000000;

}

.Product-Footer-Container .footer-detail {
    display: flex;
    justify-content: space-between;
    color: white;
    /* margin-top: 150px; */
}
.Product-Footer-Container .footer-detail .Contact{
    display: flex;
    /* margin-top: 100px; */
}
.Product-Footer-Container .footer-detail .Contact .Contact-detail {
    margin-top: 140px;
}
.Product-Footer-Container .footer-detail .Contact .Contact-detail p{
    width: 310px;
    height: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 130px;
    padding-top: 15px;
}
.Product-Footer-Container .footer-detail .Contact .line {
    width: 217px;
    height: 50px;
    border-top: 2px solid #FFFFFF;
    border-color: white;
    transform: rotate(89.73deg);
    margin-left: -70px;
    margin-top: 130px;
}
.Product-Footer-Container .footer-detail .partner {
    display: flex;
    margin-left: -80px;
}
.Product-Footer-Container .footer-detail .partner .partner-detail{
    margin-top: 100px;
}
.Product-Footer-Container .footer-detail .partner .partner-detail h5 {
    width: 64px;
    height: 22px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.Product-Footer-Container .footer-detail .partner p{
    width: 335px;
    height: 120px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.Product-Footer-Container .footer-detail .partner .line-1 {
    width: 217px;
    height: 50px;
    border-top: 2px solid #FFFFFF;
    border-color: white;
    transform: rotate(89.73deg);
    margin-left: -80px;
    margin-top: 130px;
}
.Product-Footer-Container .footer-detail .social-media {
    margin-top: 180px;
    margin-right: 90px;
    margin-left: -90px;
}
.Product-Footer-Container .footer-detail .social-media .iconify {
    font-size: 70px;
    padding-right: 10px;
}

.Product-Footer-Container .cpyright p{
    width: 1138px;
    height: 41px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 120px;
    padding-top: 10px;
}
.Product-Footer-Container .cpyright .copy{
    width: 284px;
    height: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D9D9D9;
    margin-left: 560px;
    padding-top: 20px;
}


