*{
    margin: 0%;
    font-family: 'Inter';
    font-style: normal;
}
body{
    background: #F5F5F5
    ;
}
.nabver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.125rem;
    background: #FFFFFF;
    box-shadow: 0rem 0rem 0.688rem 0.125rem rgba(0, 0, 0, 0.24);
    
}
.logo{
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: #F9CB71;
    margin-left: 5rem;
}
.nav-list{
    width: 31.313rem;
    height: 3rem;
    background: #000000;
    align-items: center;
    display: flex;
    margin-right: 4.5rem;
}
.nav-list ul{
    display: flex;
}
.nav-list ul li {
    display: flex;
   align-items: center;
    color: #FFFFFF;
    margin-left: 1rem;
    margin-right: 2rem;
    list-style: none;
    font-weight: 00;
    font-size: 23px;
}
.nav-list ul li button{
   display: flex;
   align-items: center;
    width: 88px;
    height: 36px;
    background: #3003E7;
    border-radius: 7px;
}
.nav-list ul li button span{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    margin-left: 0.87rem;
}

/* Header section */
.container h1 {
    font-weight: 700;
    font-size: 180px;
    color: rgba(0, 0, 0, 0.37);
    transform: matrix(0.00, 1, -1, 0.00, -595, 558);
}
.container h5 {
font-weight: 700;
font-size: 38px;
color: rgba(252, 25, 25, 0.37);
transform: matrix(0.01, 1, -1, 0.01, -460, 458);
}