*{
    margin: 0%;
    font-family: 'Inter';
    font-style: normal;
}
body{
    background: #F5F5F5
    ;
}
.nabver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.125rem;
    background: #FFFFFF;
    box-shadow: 0rem 0rem 0.688rem 0.125rem rgba(0, 0, 0, 0.24);
    
}
.logo{
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: #F9CB71;
    margin-left: 5rem;
}
.nav-list{
    width: 31.313rem;
    height: 3rem;
    background: #000000;
    align-items: center;
    display: flex;
    margin-right: 4.5rem;
}
.nav-list ul{
    display: flex;
}
.nav-list ul li {
    display: flex;
   align-items: center;
    color: #FFFFFF;
    margin-left: 1rem;
    margin-right: 2rem;
    list-style: none;
    font-weight: 00;
    font-size: 23px;
}
.nav-list ul li button{
   display: flex;
   align-items: center;
    width: 88px;
    height: 36px;
    background: #3003E7;
    border-radius: 7px;
}
.nav-list ul li button span{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    margin-left: 0.87rem;
}

/* Header section */
.container {
    /* height: 100%;
    width: 100%; */
}
.container h1 {
    font-weight: 700;
    font-size: 180px;
    color: rgba(0, 0, 0, 0.37);
    transform: matrix(0.00, 1, -1, 0.00, -595, 558);
}
.container h5 {
font-weight: 700;
font-size: 38px;
color: rgba(252, 25, 25, 0.37);
transform: matrix(0.01, 1, -1, 0.01, -470, 458);
}
.container .gallery .gallery-1 .curousel img{
    position: absolute;
    width: 585.28px;
    height: 435px;
    left: 230.42px;
    top: 97.11px;
    box-shadow: 2px 3px 8px rgba(105, 89, 89, 0.4);
    border-radius: 6px;
    object-fit: cover;
}
.container .gallery .gallery-1 .curousel .icon{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 573.91px;
    height: 32.31px;
    left: 236.09px;
    top: 303px;
    color: white;
}
.container .gallery .gallery-1 .curousel .Curousel-details{
    color: #FFFFFF;
}
.container .gallery .gallery-1 .curousel .Curousel-details h2{
    position: absolute;
    width: 331px;
    height: 46px;
    left: 401px;
    top: 345px;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
}
.container .gallery .gallery-1 .curousel .Curousel-details p{
    position: absolute;
    width: 518.2px;
    height: 118px;
    left: 264px;
    top: 394px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
}
.container .gallery .gallery-1 .carousel-Gallery ul{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 555.11px;
    left: 228.06px;

}
.container .gallery .gallery-1 .carousel-Gallery li{
    list-style: none;
    margin-left: 20px;
}
.container .gallery .gallery-1 .carousel-Gallery img {
    width: 143.89px;
    height: 100px;
    object-fit: cover;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.container .gallery .gallery-2 img{
    position: absolute;
    width: 325.7px;
    height: 552px;
    left: 897.37px;
    top: 103.11px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
    object-fit: cover;
}
.container .some-text{
    position: absolute;
    width: 832.23px;
    height: 44px;
    left: 298.48px;
    top: 676.11px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.84);
}
/* .container h1 {
    font-weight: 700;
    font-size: 180px;
    color: rgba(0, 0, 0, 0.37);
    transform: matrix(0.00, 1, -1, 0.00, -595, 558);
} */
.container .fashion h1{
    font-weight: 700;
    font-size: 180px;
    color: rgba(106, 207, 227, 0.54);
    transform: matrix(0.00, 1, -1, 0.00, 566, 296);
}



/* products section */
.Products-Container .PRODUCTS{
    position: absolute;
    width: 661px;
    height: 145px;
    left: 363px;
    top: 735px;
    font-weight: 400;
    font-size: 120px;
    line-height: 145px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 15px 15px 4px rgba(9, 75, 84, 0.11);
}
.Products-Container .Card {
    position: absolute;
    width: 989px;
    height: 567px;
    left: 208px;
    top: 955px;
    /* background: red; */
}
.Products-Container .Card .card-split{
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;
}

.Products-Container .Card .card-split .card-1{
    width: 233px;
    height: 273px;
    background: #D9D9D9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Products-Container .Card .card-split .card-1 .card-img img{
    width: 100%;
    height: 151px;
    object-fit: cover;
}
.Products-Container .Card .card-split .card-1 .Card-dtails .Card-name h1{
    width: 209px;
    height: 38px;
    padding-top: 3px;
    padding-left: 3px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.Products-Container .Card .card-split .card-1 .Card-dtails .Star {
    display: flex;
    width: 87px;
    height: 16px;
}
.Products-Container .Card .card-split .card-1 .Card-dtails .Star .iconify{
    width: 19px;
    height: 19px;
    padding-top: 15px;
    padding-left: 3px;
}
.Products-Container .Card .card-split .card-1 .Card-dtails .Brend-price {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 3px;
    padding-right: 5px;
}
.Products-Container .Card .card-split .card-1 .Card-dtails .Brend-price p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
